/* Shop Page */

position: relative;
width: 1440px;
height: 2069px;

background: #EFEFEF;


/* image 1 */

position: absolute;
width: 1003px;
height: 332px;
left: 437px;
top: 102px;

background: url(image.png);


/* Rectangle 2 */

position: absolute;
width: 911px;
height: 332px;
left: 0px;
top: 102px;

background: linear-gradient(90deg, #0B472D 69.5%, rgba(27, 173, 110, 0) 100%);


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 102px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 3 */

position: absolute;
width: 601px;
height: 63px;
left: 557px;
top: 20px;

background: #D9D9D9;
border-radius: 30px;


/* Logo */

position: absolute;
width: 95px;
height: 48px;
left: 45px;
top: 27px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #737373;



/* Pogi Farms */

position: absolute;
width: 196px;
height: 44px;
left: 263px;
top: 135px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* Vegetables, Fruits, Meat... */

position: absolute;
width: 197px;
height: 19px;
left: 592px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Search */

position: absolute;
width: 53px;
height: 19px;
left: 1056px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Home */

position: absolute;
width: 45px;
height: 19px;
left: 194px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Dasmarinas, Cavite */

position: absolute;
width: 146px;
height: 19px;
left: 263px;
top: 179px;

font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Real eyes realize real lies. You miss the opportunities you don’t take. */

position: absolute;
width: 334px;
height: 38px;
left: 263px;
top: 214px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: justify;

color: #FFFFFF;



/* Followers: 1,203 */

position: absolute;
width: 126px;
height: 19px;
left: 81px;
top: 320px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* BEST SELLERS */

position: absolute;
width: 144px;
height: 24px;
left: 152px;
top: 478px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #737373;



/* ALL PRODUCTS */

position: absolute;
width: 155px;
height: 24px;
left: 152px;
top: 928px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #737373;



/* Categories */

position: absolute;
width: 104px;
height: 24px;
left: 176px;
top: 983px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #737373;



/* All */

position: absolute;
width: 21px;
height: 19px;
left: 162px;
top: 1025px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Vegetables */

position: absolute;
width: 85px;
height: 19px;
left: 162px;
top: 1064px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Meat */

position: absolute;
width: 39px;
height: 19px;
left: 162px;
top: 1103px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Fruits */

position: absolute;
width: 43px;
height: 19px;
left: 162px;
top: 1142px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Fruits */

position: absolute;
width: 43px;
height: 19px;
left: 162px;
top: 1142px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Rating: 4.4 (1,304) */

position: absolute;
width: 142px;
height: 19px;
left: 81px;
top: 354px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Products: 67 */

position: absolute;
width: 99px;
height: 19px;
left: 81px;
top: 387px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* About Us */

position: absolute;
width: 71px;
height: 19px;
left: 293px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Contact Us */

position: absolute;
width: 85px;
height: 19px;
left: 418px;
top: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Shopping Cart */

position: absolute;
width: 60px;
height: 60px;
left: 1241px;
top: 21px;

background: url(.png);


/* Male User */

position: absolute;
width: 60px;
height: 60px;
left: 1334px;
top: 21px;

background: url(.png);


/* Rectangle 4 */

position: absolute;
width: 180px;
height: 50px;
left: 1219px;
top: 364px;

background: #0050A6;
border-radius: 11px;


/* View Seller */

position: absolute;
width: 89px;
height: 19px;
left: 1264px;
top: 380px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Fast Moving Consumer Goods */

position: absolute;
width: 28px;
height: 28px;
left: 45px;
top: 382px;

background: url(.png);


/* Rectangle 7 */

position: absolute;
width: 244px;
height: 244px;
left: 445px;
top: 520px;

background: url(image_2024-06-19_161731830);


/* Rectangle 8 */

position: absolute;
width: 244px;
height: 244px;
left: 737px;
top: 520px;

background: url(image_2024-06-19_161757797);


/* Rectangle 9 */

position: absolute;
width: 244px;
height: 244px;
left: 1029px;
top: 520px;

background: url(image_2024-06-19_161816355);


/* Rectangle 16 */

position: absolute;
width: 178px;
height: 178px;
left: 343px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 37 */

position: absolute;
width: 178px;
height: 178px;
left: 343px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 21 */

position: absolute;
width: 178px;
height: 178px;
left: 531px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 38 */

position: absolute;
width: 178px;
height: 178px;
left: 531px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 24 */

position: absolute;
width: 178px;
height: 178px;
left: 719px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 39 */

position: absolute;
width: 178px;
height: 178px;
left: 719px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 27 */

position: absolute;
width: 178px;
height: 178px;
left: 907px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 40 */

position: absolute;
width: 178px;
height: 178px;
left: 907px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 30 */

position: absolute;
width: 178px;
height: 178px;
left: 1095px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 41 */

position: absolute;
width: 178px;
height: 178px;
left: 1095px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 42 */

position: absolute;
width: 178px;
height: 178px;
left: 343px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 22 */

position: absolute;
width: 178px;
height: 178px;
left: 531px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 43 */

position: absolute;
width: 178px;
height: 178px;
left: 531px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 25 */

position: absolute;
width: 178px;
height: 178px;
left: 719px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 44 */

position: absolute;
width: 178px;
height: 178px;
left: 719px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 28 */

position: absolute;
width: 178px;
height: 178px;
left: 907px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 45 */

position: absolute;
width: 178px;
height: 178px;
left: 907px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 31 */

position: absolute;
width: 178px;
height: 178px;
left: 1095px;
top: 1022px;

background: url(image_2024-06-19_161816355);


/* Rectangle 46 */

position: absolute;
width: 178px;
height: 178px;
left: 1095px;
top: 1332px;

background: url(image_2024-06-19_161816355);


/* Rectangle 14 */

position: absolute;
width: 244px;
height: 244px;
left: 1029px;
top: 520px;

background: url(image_2024-06-19_161816355);


/* Rectangle 10 */

position: absolute;
width: 244px;
height: 120px;
left: 153px;
top: 764px;

background: #FFFFFF;


/* Rectangle 11 */

position: absolute;
width: 244px;
height: 120px;
left: 445px;
top: 764px;

background: #FFFFFF;


/* Rectangle 12 */

position: absolute;
width: 244px;
height: 120px;
left: 737px;
top: 764px;

background: #FFFFFF;


/* Rectangle 13 */

position: absolute;
width: 244px;
height: 120px;
left: 1029px;
top: 764px;

background: #FFFFFF;


/* Rectangle 15 */

position: absolute;
width: 244px;
height: 120px;
left: 1029px;
top: 764px;

background: #FFFFFF;


/* Rectangle 19 */

position: absolute;
width: 178px;
height: 106px;
left: 343px;
top: 1200px;

background: #FFFFFF;


/* Rectangle 47 */

position: absolute;
width: 178px;
height: 106px;
left: 343px;
top: 1510px;

background: #FFFFFF;


/* Rectangle 23 */

position: absolute;
width: 178px;
height: 106px;
left: 531px;
top: 1200px;

background: #FFFFFF;


/* Rectangle 48 */

position: absolute;
width: 178px;
height: 106px;
left: 531px;
top: 1510px;

background: #FFFFFF;


/* Rectangle 26 */

position: absolute;
width: 178px;
height: 106px;
left: 719px;
top: 1200px;

background: #FFFFFF;


/* Rectangle 49 */

position: absolute;
width: 178px;
height: 106px;
left: 719px;
top: 1510px;

background: #FFFFFF;


/* Rectangle 29 */

position: absolute;
width: 178px;
height: 106px;
left: 907px;
top: 1200px;

background: #FFFFFF;


/* Rectangle 50 */

position: absolute;
width: 178px;
height: 106px;
left: 907px;
top: 1510px;

background: #FFFFFF;


/* Rectangle 32 */

position: absolute;
width: 178px;
height: 106px;
left: 1095px;
top: 1200px;

background: #FFFFFF;


/* Rectangle 51 */

position: absolute;
width: 178px;
height: 106px;
left: 1095px;
top: 1510px;

background: #FFFFFF;


/* Fresh Carrot 18 inch harvested last night 800mg sale emeru... */

position: absolute;
width: 218px;
height: 36px;
left: 166px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested last night 800mg sale emeru... */

position: absolute;
width: 218px;
height: 36px;
left: 458px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested last night 800mg sale emeru... */

position: absolute;
width: 218px;
height: 36px;
left: 750px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested last night 800mg sale emeru... */

position: absolute;
width: 218px;
height: 36px;
left: 1042px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 352px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 352px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 540px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 540px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 728px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 728px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 916px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 916px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 1104px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 1104px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 352px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 352px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 540px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 540px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 728px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 728px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 916px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 916px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 1104px;
top: 1213px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested la... */

position: absolute;
width: 160px;
height: 27px;
left: 1104px;
top: 1523px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* Fresh Carrot 18 inch harvested last night 800mg sale emeru... */

position: absolute;
width: 218px;
height: 36px;
left: 1042px;
top: 782px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 77px;
height: 12px;
left: 247px;
top: 851px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 77px;
height: 12px;
left: 539px;
top: 851px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 77px;
height: 12px;
left: 831px;
top: 851px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 77px;
height: 12px;
left: 1123px;
top: 851px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 77px;
height: 12px;
left: 1123px;
top: 851px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 412px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 600px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 788px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 976px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1282px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* 4.5k sold */

position: absolute;
width: 56px;
height: 9px;
left: 1164px;
top: 1592px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #737373;



/* ₱695.00 */

position: absolute;
width: 218px;
height: 18px;
left: 166px;
top: 826px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 218px;
height: 18px;
left: 458px;
top: 826px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 218px;
height: 18px;
left: 750px;
top: 826px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 218px;
height: 18px;
left: 1042px;
top: 826px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 352px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 352px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 540px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 540px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 728px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 728px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 916px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 916px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 1104px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 1104px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 352px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 352px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 540px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 540px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 728px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 728px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 916px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 916px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 1104px;
top: 1255px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* ₱695.00 */

position: absolute;
width: 160px;
height: 13px;
left: 1104px;
top: 1565px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #E11919;



/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 169px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 461px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 753px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 1045px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 355px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 355px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 543px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 543px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 731px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 731px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 919px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 919px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1107px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1107px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 355px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 355px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 543px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 543px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 731px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 731px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 919px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 919px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1107px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1107px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 184px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 476px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 768px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 1060px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 366px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 366px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 554px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 554px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 742px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 742px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 930px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 930px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1118px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1118px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 366px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 366px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 554px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 554px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 742px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 742px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 930px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 930px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1118px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1118px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 199px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 491px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 783px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 15px;
height: 15px;
left: 1075px;
top: 849px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 377px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 377px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 565px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 565px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 753px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 753px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 941px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 941px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1129px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1129px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 377px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 377px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 565px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 565px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 753px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 753px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 941px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 941px;
top: 1590px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1129px;
top: 1280px;

background: url(.png);


/* Star Filled */

position: absolute;
width: 11px;
height: 11px;
left: 1129px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 16px;
height: 16px;
left: 214px;
top: 849px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 16px;
height: 16px;
left: 506px;
top: 849px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 16px;
height: 16px;
left: 798px;
top: 849px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 16px;
height: 16px;
left: 1090px;
top: 849px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 388px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 388px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 576px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 576px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 764px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 764px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 952px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 952px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 1140px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 1140px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 388px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 388px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 576px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 576px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 764px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 764px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 952px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 952px;
top: 1590px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 1140px;
top: 1280px;

background: url(.png);


/* Star Half Empty */

position: absolute;
width: 11px;
height: 12px;
left: 1140px;
top: 1590px;

background: url(.png);


/* Star */

position: absolute;
width: 13px;
height: 13px;
left: 230px;
top: 850px;

background: url(.png);


/* Star */

position: absolute;
width: 13px;
height: 13px;
left: 522px;
top: 850px;

background: url(.png);


/* Star */

position: absolute;
width: 13px;
height: 13px;
left: 814px;
top: 850px;

background: url(.png);


/* Star */

position: absolute;
width: 13px;
height: 13px;
left: 1106px;
top: 850px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 13px;
height: 13px;
left: 1106px;
top: 850px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 399px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 587px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 775px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 963px;
top: 1591px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1281px;

background: url(.png);


/* Star */

position: absolute;
width: 10px;
height: 10px;
left: 1151px;
top: 1591px;

background: url(.png);


/* Rectangle 6 */

position: absolute;
width: 244px;
height: 244px;
left: 153px;
top: 520px;

background: url(image_2024-06-19_160536164.png);


/* Line 1 */

position: absolute;
width: 17px;
height: 0px;
left: 152px;
top: 990px;

border: 2px solid #737373;


/* Line 2 */

position: absolute;
width: 17px;
height: 0px;
left: 152px;
top: 995px;

border: 2px solid #737373;


/* Line 3 */

position: absolute;
width: 17px;
height: 0px;
left: 152px;
top: 1000px;

border: 2px solid #737373;


/* Rectangle 33 */

position: absolute;
width: 930px;
height: 55px;
left: 343px;
top: 952px;

background: #0B472D;


/* Sort by */

position: absolute;
width: 69px;
height: 24px;
left: 363px;
top: 968px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Ascending */

position: absolute;
width: 100px;
height: 24px;
left: 1106px;
top: 968px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 34 */

position: absolute;
width: 85px;
height: 32px;
left: 450px;
top: 964px;

background: #67B045;


/* Rectangle 35 */

position: absolute;
width: 85px;
height: 32px;
left: 553px;
top: 964px;

background: #FFFFFF;


/* Rectangle 54 */

position: absolute;
width: 85px;
height: 32px;
left: 553px;
top: 964px;

background: #FFFFFF;


/* Rectangle 56 */

position: absolute;
width: 85px;
height: 32px;
left: 656px;
top: 964px;

background: #FFFFFF;


/* Default */

position: absolute;
width: 41px;
height: 15px;
left: 472px;
top: 972px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;



/* Top Sales */

position: absolute;
width: 56px;
height: 15px;
left: 567px;
top: 972px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #1E1E1E;



/* Top Rated */

position: absolute;
width: 58px;
height: 15px;
left: 669px;
top: 972px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

color: #1E1E1E;



/* Sort Amount Up */

position: absolute;
width: 40px;
height: 40px;
left: 1220px;
top: 960px;

background: url(.png);


/* Rectangle 52 */

position: absolute;
width: 286px;
height: 30px;
left: 790px;
top: 965px;

background: #FFFFFF;
border-radius: 30px;


/* Vegetables, Fruits, Meat... */

position: absolute;
width: 141px;
height: 12px;
left: 805px;
top: 974px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #737373;



/* Search */

position: absolute;
width: 39px;
height: 12px;
left: 1020px;
top: 974px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

color: #737373;



/* Rectangle 53 */

position: absolute;
width: 1440px;
height: 280px;
left: 0px;
top: 1789px;

background: #D9D9D9;


/* Contact Us */

position: absolute;
width: 88px;
height: 19px;
left: 244px;
top: 1843px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Our Company */

position: absolute;
width: 108px;
height: 19px;
left: 567px;
top: 1839px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Follow Us */

position: absolute;
width: 108px;
height: 19px;
left: 855px;
top: 1839px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #737373;



/* email@dlsu.edu.ph */

position: absolute;
width: 143px;
height: 19px;
left: 246px;
top: 1879px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Products */

position: absolute;
width: 68px;
height: 19px;
left: 569px;
top: 1875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* Facebook */

position: absolute;
width: 92px;
height: 19px;
left: 857px;
top: 1875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* About Us */

position: absolute;
width: 71px;
height: 19px;
left: 569px;
top: 1911px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* Contact Us */

position: absolute;
width: 85px;
height: 19px;
left: 569px;
top: 1947px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* Twitter */

position: absolute;
width: 71px;
height: 19px;
left: 857px;
top: 1911px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* LinkedIn */

position: absolute;
width: 71px;
height: 19px;
left: 857px;
top: 1947px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;

color: #737373;



/* email@dlsu.edu.ph */

position: absolute;
width: 143px;
height: 19px;
left: 244px;
top: 1915px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #737373;



/* Logo */

position: absolute;
width: 95px;
height: 48px;
left: 1125px;
top: 1875px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #737373;



/* Users */

position: absolute;
width: 30px;
height: 30px;
left: 44px;
top: 312px;

background: url(.png);


/* Rating */

position: absolute;
width: 30px;
height: 30px;
left: 44px;
top: 348px;

background: url(.png);


/* Real eyes realize real lies. You miss the opportunities you don’t take. */

position: absolute;
width: 253px;
height: 10px;
left: 1763px;
top: 210px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: justify;

color: #FFFFFF;



/* Ellipse 1 */

position: absolute;
width: 162px;
height: 162px;
left: 45px;
top: 139px;

background: url(image);


/* followBtn */

position: absolute;
width: 155px;
height: 40px;
left: 258px;
top: 367px;



/* Follow + */

position: absolute;
width: 77px;
height: 18px;
left: 302px;
top: 378px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 155px;
height: 40px;
left: 258px;
top: 367px;

border: 1px solid #FFFFFF;
border-radius: 4px;


/* reviewSellerBtn */

position: absolute;
width: 160px;
height: 40px;
left: 432px;
top: 367px;



/* Rectangle 5 */

box-sizing: border-box;

position: absolute;
width: 160px;
height: 40px;
left: 432px;
top: 367px;

background: #D9D9D9;
border: 1px solid #FFFFFF;
border-radius: 4px;


/* Write a Review */

position: absolute;
width: 127px;
height: 18px;
left: 453px;
top: 378px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #0C482E;