.shopBanner {
    display: flex;
    height: 300px;
    width: 100%;
}
  
.shopLeftBox {
    flex: 1;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #0B472D, rgba(144, 238, 144, 0)); 
    padding-left: 3%;
}
  
.shopRightBox {
    flex: 1;
    background: url('/images/Farm1.jpg') no-repeat center center;
    background-size: cover;
}

.shopLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopLogo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.shopStats {
    margin-top: 10px;
}

.shopStatItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.shopFollowersIcon,
.shopRatingsIcon,
.shopProductsIcon {
    margin-right: 5px;
}

.shopFollowersCount,
.shopRatingsCount,
.shopProductsCount {
    margin: 0;
}

.shopPart1 {
    flex: 1;
}

.shopPart2 {
    flex: 1;
    padding-left: 3%; 
}