.shopBanner {
    display: flex;
    height: 300px;
    margin: 5%
}
  
.shopLeftBox {
    flex: 1;
    background: linear-gradient(to right, #0B472D, rgba(144, 238, 144, 0)); 
}
  
.shopRightBox {
    flex: 1;
    background: url('/images/Farm1.jpg') no-repeat center center;
    background-size: cover;
}

.shopLogo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.shopStats {
    margin-top: 10px;
}

.shopStatItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.shopFollowersIcon,
.shopRatingsIcon,
.shopProductsIcon {
    margin-right: 5px;
}

.shopFollowersCount,
.shopRatingsCount,
.shopProductsCount {
    margin: 0;
}