#root {
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem; */
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  div#cartHeaderBtn {
    background: url('../src/assets/white cart.png');
    background-size: cover;
  }
  
  div#cartHeaderBtn:hover {
    background: url('../src/assets/green cart.png');
    background-size: cover;
  }
  
  div#profileHeaderBtn {
    background: url('../src/assets/white user.png');
    background-size: cover;
  }
  
  div#profileHeaderBtn:hover {
    background: url('../src/assets/green user.png');
    background-size: cover;
  }
  
  #searchHeaderForm {
    background: #D9D9D9;
    color: #737373;
  }
  
  #headerLinks a, #footer a {
    color: #737373;
  }
  
  #headerLinks a:hover, #footer a:hover {
    text-decoration: underline;
  }
  
  form:focus {
    border: none !important;
  }
  
  #footer {
    background-color: #D9D9D9;
    color: #737373;
  }
  
  #footer a {
    display:grid;
    font-weight: normal;
  }
  
  #footerLogo {
    background: url('../src/assets/Ani2Home Logo.png');
    background-size: cover;
  }

  .logoHome {
    display: flex;
    gap: 8;
    align-items: center;
    height: 50px;
    width: 50px;
  }