#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  min-height: 100vh; /* Ensures root takes full viewport height */
  display: flex;
  flex-direction: column;
}

/* Add this to your global or specific CSS file */
html, body {
  height: 100%;
  margin: 0;
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1; 
}


form:focus {
  border: none !important;
}

#footer {
  background-color: #f5f0ec;
  color: #0b472d;
}

#footer a {
  display: grid;
  font-weight: normal;
  color: #0b472d;
}

#footer a:hover {
  text-decoration: underline;
  color: #0059b8;
}

#footerLogo {
  background: url('../src/assets/Ani2Home-Logo.png');
  background-size: cover;
}

.logoHome {
  display: flex;
  gap: 8;
  align-items: center;
  height: 50px;
  width: 50px;
}
