.shopBanner {
    display: flex;
    width: 100%;
    max-height: 330px;
    
}
  
.shopLeftBox {
    flex: 1;
    display: flex;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: linear-gradient(to right, #0B472D 60%, rgba(144, 238, 144, 0));
}
  
.shopRightBox {
    flex: 1;
    background: url('../src/assets/FarmCover.jpg') no-repeat center center;
    background-size: cover;
}

.shopLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopLogo img {
    width: 10vw;
    height: 10vw;
    max-width: 162px;
    max-height: 162px;
    border-radius: 50%;
    object-fit: cover;
}

.shopStats {
    margin-top: 5%;
}

.shopStatItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.shopFollowersIcon,
.shopRatingsIcon,
.shopProductsIcon {
    margin-right: 5px;
}

.shopFollowersCount,
.shopRatingsCount,
.shopProductsCount {
    margin: 0;
}

.shopPart1 {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Inter'; /* not sure about the font */
}

.shopPart2 {
    flex: 0 0 70%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Inter'; /* not sure about the font */
    align-items: flex-start;
}

.shopStatItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.shopStatsContainer {
    display: flex;
    align-items: center;
}